<div class="row justify-content-center">
  <div class="col-md-4 register-employee">
    <!-- form card register -->
    <div class="card-body">
      <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
          <div class="form-group">

              <label for="inputid">Employee Id</label>
              <input class="form-control" type="text" formControlName="_id">
              <!-- error -->

              <!-- <div *ngIf="submitted && !!myForm._id.errors.pattern" class="invalid-feedback d-block">
                  Enter Valid Id
                </div> -->
                <div *ngIf="submitted && myForm._id.errors?.required" class ="invalid-feedback d-block">
                ID is required.
              </div>
              <div *ngIf="submitted && myForm._id.errors?.pattern" class ="invalid-feedback d-block">
                ID is Invalid.
              </div>
            </div>
        <div class="form-group">

          <label for="inputName">Name</label>
          <input class="form-control" type="text" formControlName="name">
          <!-- error -->

          <div *ngIf="submitted && myForm.name.errors?.pattern" class="invalid-feedback d-block">
              Enter Valid Name
            </div>
            <div *ngIf="submitted && myForm.name.errors?.required" class ="invalid-feedback d-block">
            Name is required.
          </div>


        </div>

        <div class="form-group">
          <label for="inputEmail3">Email</label>
          <input class="form-control" type="text" formControlName="email">
          <!-- error -->
          <div  *ngIf="submitted && !!myForm.email.errors?.required" class="invalid-feedback d-block">
            Enter your email.
          </div>
          <div class="invalid-feedback d-block" *ngIf="submitted && !!myForm.email.errors?.email">
            Enter valid email.
          </div>
          <div  *ngIf="serverErrorMessages" class="alert">
            {{serverErrorMessages}}
          </div>
        </div>

        <div class="form-group">
          <label for="inputPassword3">Designation</label>
          <select class="custom-select form-control" (change)="updateProfile($event.target.value)"
            formControlName="designation">
            <option value="">Choose...</option>
            <option *ngFor="let employeeProfile of EmployeeProfile" value="{{employeeProfile}}">{{employeeProfile}}
            </option>
          </select>

          <!-- error -->
          <div class="invalid-feedback d-block" *ngIf="submitted && !!myForm.designation.errors?.required">
            Choose designation.
          </div>
        </div>

        <div class="form-group">
          <label for="inputVerify3">Mobile No</label>
          <input class="form-control" type="text" formControlName="phoneNumber">
          <!-- error -->
          <div class="invalid-feedback d-block" *ngIf="submitted && !!myForm.phoneNumber.errors?.required">
            Enter your phone number.
          </div>
          <div class="invalid-feedback d-block" *ngIf="submitted && !!myForm.phoneNumber.errors?.pattern">
            Enter valid Numbers
          </div>
        </div>

        <div class="form-group">
          <button class="btn btn-success btn-lg btn-block" type="submit">Register</button>
        </div>
      </form>

    </div>
  </div><!-- form card register -->
</div>
